@{
    ViewData["Title"] = "Important Locations and Links";
}


<div class="row">
    <div class="col-sm-2">picture</div>
    <div class="col-sm-8">
        <div class="text-center">
            <h1 class="display-4">Important Locations and Links</h1>
            <p>A place for listing important locations and links.</p>
        </div>
    </div>
    <div class="col-sm-2">picture</div>
</div>
