@{
    ViewData["Title"] = "Significant People";
}


<div class="row">
    <div class="col-sm-2">picture</div>
    <div class="col-sm-8">
        <div class="text-center">
            <h1 class="display-4">Significant People</h1>
            <p>A place for listing significant people.</p>
        </div>
    </div>
    <div class="col-sm-2">picture</div>
</div>