
@{
    ViewData["Title"] = "History Page";
}


<div class="row">
    <div class="col-sm-2">picture</div>
    <div class="col-sm-8">
        <div class="text-center">
            <h1 class="display-4">History Page</h1>
            <p>A brief history of the community.</p>
        </div>
    </div>
    <div class="col-sm-2">picture</div>
</div>
