@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Mohawk Valley Community Site</h1>
</div>
<div class="row">
    <div class="col-sm-2">picture</div>
    <div class="col-sm-8">
        <div class="text-center">
            <p>A place for the Mohawk Valley community to share new and information.</p>           
        </div>
    </div>
    <div class="col-sm-2">picture</div>
</div>
